.categorie {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.categorie__title {
    text-transform: uppercase;
    color: white;
}

.categorie__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.categories__item {
    width: 230px;
    height: auto;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 1px 2px 3px #c3c3c3;
}

.categorie__subtitle {
    font-size: 16px;
    font-weight: normal;
    color: white;
}

.categories__deleteButton {
    width: 70px;
    height: 30px;
    border: none;
    float : right;
    border-radius: 5px;
    background: linear-gradient(144deg, rgb(225,225,225), rgb(25,25,25));
    box-shadow: 1px 2px 3px #c3c3c3;
}

.categories__liste {
    width: 70px;
    height: 40px;
    float: left;
    border: none;
    border-radius: 5px;
    background: linear-gradient(144deg, rgb(225,225,225), rgb(25,25,25));
    box-shadow: 1px 2px 3px #c3c3c3;
}

.categories__liste:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.categories__deleteliste:active {
    transform: none;
    box-shadow: none;
}

.categories__deleteButton:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.categories__deleteButton:active {
    transform: none;
    box-shadow: none;
}


/* reminder for responsiveness */

@media screen and (max-width: 900px) {
    
}